//====color====//
$text:#585858;
$text_title:#313030;
$text_help:#fdfcf8;
$red:#ff2d2d;
$top_bg:#f6f2f2;
$bg: #ffffff;
$bg_img:#f5f0dd;
$bg_registration:#2d2d2d;

$xl:1250px;
$lg:992px;
$md:767px;
$ms:576px;

// ===title=== //
$title:40px;
$title__under: 15px;


$transition: .3s;

$fonts:'Open Sans', sans-serif;